@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #ffffff; /* white */
  --color-2: #000000; /* black */

  --color-3: #00000080;
  --color-4: #ffffffe6;
  --color-5: #ffffffcc;
  --color-6: #ffffffb3;
  --color-7: #ffffff99;
  --color-8: #ffffff80;
  --color-9: #ffffff66;
  --color-10: #ffffff4d;
  --color-11: #ffffff33;

  --color-12: #00000026;
  --color-13: #0000000d;

  --color-14: #ffffff00; /* transparent */
}

/* @layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
} */

/* For data picker */
/* .rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
} */
@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto w-full px-8 py-12;
  }
}
