# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# private files (not for public repo)


# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# ignored folders
/starter

# private files (TEMPORARILY UNIGNORED FOR EDITING)
/.cursorrules
/JOURNEY.md
/TS_HELP.md